</div>
</div>
<footer>
  <div class="container">
    {{#if isStaff }}
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/dropboxes">Staff login</a>
    {{/if }}
  </div>
</footer>
</body>

</html>